html body {	margin: 0px; padding: 0px; background-image:url(/images/fundo_centro.png); background-repeat:repeat-x; }
.header{ margin: 0px;  height:22px; background-color:#0285c3 }
.titulo_header {  height:49px; text-align:center; background:url(/images/fundo_header.png ) }

#content_left { width:227px; height:300px; margin-top:84px }

.content_left_titulo{float:left; background:url("/images/sobras_doar.png"); background-repeat:no-repeat; background-position:bottom; height:40px; width:227px; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#0282c0; font-weight:bold;   }

.content_alimentos {float:left; width:243px; height:180px; background:url(/images/fundo_listaAlimentos.png ) }

.donatorWall{padding: 0px;  margin: 0px;  width: 1024px;  border: 0px solid #000000;   float:left; text-align:center}
.donatorPic1 {padding: 0px; margin: 0px;  width: 46px;   height: 46px;    border: 1px solid #FFFFFF;   float: left;}

.doar_titulo{background-position:bottom; height:40px; width:227px; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#0282c0; font-weight:bold; text-align:left   }

.txt_rodape {font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#888989; margin:13px; text-align:center  }

.Donation{ float:left;  padding: 3px 0px 0px 0px; height: 23px; font-family:Arial, Helvetica, sans-serif; font-size:19px; font-weight:bold; color: #0e98de;  }
.medida{ float:left;  padding: 7px 0px 0px 5px; height: 23px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color: #8d8d8d; }
.DonationItem_leite {float:left; background:url("/images/icon_leite.png"); background-repeat:no-repeat; padding: 7px 0px 0px 40px; width: 128px; height: 20px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color: #8d8d8d; }
.DonationItem_acucar {float:left; background:url("/images/icon_acucar.png"); background-repeat:no-repeat; padding: 7px 0px 0px 40px; width: 128px; height: 20px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color: #8d8d8d; }
.DonationItem_azeite {float:left; background:url("/images/icon_azeite.png"); background-repeat:no-repeat; padding: 7px 0px 0px 40px; width: 128px; height: 20px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color: #8d8d8d; }
.DonationItem_atum {float:left; background:url("/images/icon_atum.png"); background-repeat:no-repeat; padding: 6px 0px 0px 40px; width: 128px; height: 20px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color: #8d8d8d; }
.DonationItem_salsicha {float:left; background:url("/images/icon_salsicha.png"); background-repeat:no-repeat; padding: 6px 0px 0px 40px; width: 128px; height: 20px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color: #8d8d8d; }
.DonationItem_oleo {float:left; background:url("/images/icon_oleo.png"); background-repeat:no-repeat; padding: 6px 0px 0px 40px; width: 128px; height: 20px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color: #8d8d8d; }

.sombra_donation {float:left;  margin-top:0px; background:url("/images/sombra_comunidade.png"); background-repeat:no-repeat; width:241px; height:23px}

.content_saco {float:left; background:url("/images/saco.png"); width:362}

/*  estilos janelas */
.janelas_titulo{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#0282c0; font-weight:bold; margin:0  }
.janelas_subtitulo{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#657d9a;  }


.total{ float:left; font-family:Arial, Helvetica, sans-serif; font-size:21px; color:#ffffff; margin-bottom:5px; margin-top:3px  }
.valor {float:left;  font-family:Arial, Helvetica, sans-serif; font-size:21px; font-weight:bold; color:#82deff; margin:3px 5px 5px 8px; }
.dadospagamento{ width:392px; margin-top:5px; text-align:right}
.totalpagamento{ float:left; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#ffffff; margin:3px 1px 5px 10px;  }
.valorpagamento {float:left;  font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:bold; color:#82deff; margin:4px 15px 5px 8px;}
.txt {font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#888989; margin:13px; width:366px; }

/*  estilos form */
.rightFormLine{padding: 0;  margin: 5px 20px 0px 14px;  font-family:Arial, Helvetica, sans-serif; color: #8d8d8d; font-size:12px; vertical-align:bottom; }
.rightFormLineCaptcha{ padding: 0;  margin: 5px 20px 0px 14px;   font-family:Arial, Helvetica, sans-serif; color: #8d8d8d; font-size:12px; }

/*  estilos setas*/
.rightFormDonationItemCol1{ padding-top:6px;  width:28px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color: #848484; text-align:center;  font-size: 11px; }
.Item_escolha_leite {float:left; background:url("/images/icon_leite.png"); background-repeat:no-repeat; padding: 6px 0px 0px 40px;  height: 27px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color: #8d8d8d; }
.Item_escolha_acucar {float:left; background:url("/images/icon_acucar.png"); background-repeat:no-repeat; padding: 6px 0px 0px 40px;  height: 27px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color: #8d8d8d; }
.Item_escolha_azeite {float:left; background:url("/images/icon_azeite.png"); background-repeat:no-repeat; padding: 6px 0px 0px 40px;  height: 27px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color: #8d8d8d; }
.Item_escolha_atum {float:left; background:url("/images/icon_atum.png"); background-repeat:no-repeat; padding: 6px 0px 0px 40px;  height: 27px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color: #8d8d8d; }
.Item_escolha_salsicha {float:left; background:url("/images/icon_salsicha.png"); background-repeat:no-repeat; padding: 6px 0px 0px 40px;  height: 27px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color: #8d8d8d; }
.Item_escolha_oleo {float:left; background:url("/images/icon_oleo.png"); background-repeat:no-repeat; padding: 6px 0px 0px 40px;  height: 27px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color: #8d8d8d; }

/*janela*/ 
.janela{ margin:0 auto}
.janela-fora{ z-index:auto; position:absolute; margin-top:-730px; width:100%;}

/* --- ADICIONADO POR MIM --- */

#PostalCode {
    width: 70px
}

#Nif {
    width: 70px
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px
}

a img {
    border: none
}

/*.janela-fora {
    background-color: rgba(3, 56, 109, .55)
}*/

#Name {
    width: 250px;
    width: 281px \0/
}

#CompanyName {
    width: 250px;
    width: 281px \0/
}

.rightFormDonationItemCol1 {
    display: table-row
}

.ten {
    vertical-align: top;
    padding-top: 3px
}

.lessten {
    vertical-align: bottom;
    padding-bottom: 5px
}

.more {
    padding-top:13px;
    vertical-align:top;
    *padding-top:9px;
}

.less {
    vertical-align: bottom;
    padding-bottom: 13px
}

.txt_obrigado {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#027fbe; }

a:link, a:visited
{
    color: inherit;
}

a:hover
{
    color: inherit;
}

a:active
{
    color: inherit;
}

.ptflag {
	width: 26px;
	height:31px;
	display:block;
	background:transparent url('/images/bandeira.pt.hover.png') center top no-repeat;
    float: left;
}

.enflag {
	width: 26px;
	height:31px;
	display:block;
	background:transparent url('/images/bandeira.eng.hover.png') center top no-repeat;
    float: left;
}

.esflag {
	width: 26px;
	height:31px;
	display:block;
	background:transparent url('/images/bandeira.es.hover.png') center top no-repeat;
    float: left;
}

.frflag {
	width: 26px;
	height:31px;
	display:block;
	background:transparent url('/images/bandeira.fra.hover.png') center top no-repeat;
    float: left;
}

.ptflag:hover {
	background:transparent url('/images/bandeira.pt.hover.png') center top no-repeat;
}

.enflag:hover {
	background:transparent url('/images/bandeira.eng.hover.png') center top no-repeat;
}

.esflag:hover {
	background:transparent url('/images/bandeira.es.hover.png') center top no-repeat;
}

.frflag:hover {
	background:transparent url('/images/bandeira.fra.hover.png') center top no-repeat;
}

.bandeiras {    
    width: 119px;
    height: 31px;
    margin: auto;
    left: 212px;
    position: relative;
    top: -40px;
}

.separador {
    width: 5px;
    height: 31px;
    display: block;
    float: left
}