<!doctype html>
<title>Server Error</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1 style="color:#842029;">Erro de Servidor</h1>
    <div>
        <p>Desculpe, ocorreu um erro, estamos cientes do problema, tente novamente. <a href="javascript:void(0);" onclick="history.go(-1);">Volte</a> para a página anterior</p>
        <p>&mdash; Alimente Esta Ideia</p>
    </div>
</article>