<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="BancoAlimentarEntities" connectionString="metadata=res://*/DonationEntityModel.csdl|res://*/DonationEntityModel.ssdl|res://*/DonationEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:bancoalimentar.database.windows.net,1433;Initial Catalog=bancoalimentar;Persist Security Info=False;User ID=bancoalimentar;Password=pocosi12!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Smtp.Host" value="webmail.bancoalimentar.pt" />
    <add key="Smtp.Port" value="25" />
    <add key="Smtp.EnableSsl" value="false" />
    <add key="Smtp.User" value="doaronline@bancoalimentar.pt" />
    <add key="Smtp.Password" value="lisboa1999!" />
    <add key="Smtp.UseCredentials" value="true" />
    <add key="Email.Send" value="true" />
    <add key="Email.BancoAlimentar" value="fabio.ferreira@link.pt" />
    <add key="Email.From" value="doaronline@bancoalimentar.pt" />
    <add key="Himedia.User" value="mslnbacamp" />
    <add key="Himedia.Password" value="pmacabnlsm" />
    <add key="Himedia.Callback.Url" value="http://localhost:4448/Donation/ReferencePayed/" />
    <add key="RetryPolicy.MaxRetries" value="10" />
    <add key="RetryPolicy.DelayMS" value="100" />
    <add key="Email.ReferenceToDonor.Subject" value="Banco Alimentar: Dados de Pagamento da sua Doação" />
    <add key="Email.PaymentToDonor.Subject" value="Banco Alimentar: Confirmamos o pagamento da sua doação" />
    <add key="Email.PaymentToBancoAlimentar.Subject" value="Banco Alimentar: Registo de doação finalizada" />
    <add key="Email.ReceiptToDonor.Subject" value="Banco Alimentar: Registo de doação finalizada" />
    <add key="Email.ReferenceToDonor.Body.Path" value="C:\Users\fabio.ferreira\Downloads\BancoAlimentar\Content\ReferenceToDonor.htm" />
    <add key="Email.PaymentToDonor.Body.Path" value="C:\Users\fabio.ferreira\Downloads\BancoAlimentar\Content\PaymentToDonor.htm" />
    <add key="Email.PaymentToBancoAlimentar.Body.Path" value="C:\Users\fabio.ferreira\Downloads\BancoAlimentar\Content\PaymentToBancoAlimentar.htm" />
    <add key="Email.ReceiptToDonor.Body.Path" value="C:\Users\fabio.ferreira\Downloads\BancoAlimentar\Content\ReceiptToDonor.htm" />
    <add key="Email.ReceiptToBancoAlimentar" value="campanha@bancoalimentar.pt" />
    <add key="InvoiceDirectory" value="C:\Users\fabio.ferreira\Downloads\BancoAlimentar\Content\" />
    <add key="Email.ReceiptTemplate.Path" value="C:\Users\fabio.ferreira\Downloads\BancoAlimentar\Content\ReceiptTemplate.docx" />
    <add key="Mobile.Refresh" value="3" />
    <add key="CaptchaPass" value="!doa?cao_999" />
    <add key="CaptchaSalt" value="ZHNmZ2JzZHJlZmR3YXRnc2Q=" />
    <add key="Site.Prodution.Start.Date" value="2019-11-27 00:00:00" />
    <add key="Site.Prodution.End.Date" value="2019-12-10 23:59:59" />
    <add key="Presidency.Valid.Ips" value="192.162.17.80;192.162.17.254;81.84.245.137" />
    <add key="Report.Image.Mail" value="fabio.ferreira@link.pt" />
    <!--add key="Unicre.MerchantId" value="90000001967132"/>
    <add key="Unicre.AccessKey" value="7yAhW1rxSJZ7qtH3ast3"/>
    <add key="Unicre.ContractNumber" value="00991204"/-->
    <add key="Unicre.MerchantId" value="90000001967132" />
    <add key="Unicre.AccessKey" value="JfvhQJAomzRrbT4SSH5H" />
    <add key="Unicre.ContractNumber" value="00991204" />
    <add key="Unicre.ReturnUrl" value="http://localhost:53308/Donation/ReferencePayedViaUnicre/" />
    <add key="Unicre.CancelUrl" value="http://localhost:53308/" />
    <add key="Unicre.Production" value="true" />
    <add key="Unicre.ProductionUrl" value="https://services.payline.com/V4/services/WebPaymentAPI" />
    <add key="Sibs.Entity" value="11624" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>