<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="BancoAlimentarEntities" connectionString="metadata=res://*/DonationEntityModel.csdl|res://*/DonationEntityModel.ssdl|res://*/DonationEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:bancoalimentar.database.windows.net,1433;Initial Catalog=bancoalimentar;Persist Security Info=False;User ID=bancoalimentar;Password=pocosi12!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="Smtp.Host" value="webmail.bancoalimentar.pt" />
    <add key="Smtp.Port" value="25" />
    <add key="Smtp.EnableSsl" value="false" />
    <add key="Smtp.User" value="doaronline@bancoalimentar.pt" />
    <add key="Smtp.Password" value="lisboa1999!" />
    <add key="Smtp.UseCredentials" value="true" />
    <add key="Email.From" value="doaronline@bancoalimentar.pt" />
  </appSettings>
</configuration>