@{
    ViewBag.Title = "Login";
}

<h2>Back Office Alimente Esta Ideia</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Back Office Alimente Esta Ideia - Login</title>
</head>
<body style="padding:50px">

        <h3>Acesso restrito</h3>
        <!-- If the user is not authenticated, display the sign-in button -->
        @Html.ActionLink("Sign In", "SignIn", "Report", null, new { @class = "btn btn-primary" })

</body>
</html>