@{
    ViewBag.Title = "Logout";
}

<h2>Back Office Alimente Esta Ideia</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Back Office Alimente Esta Ideia - Logout</title>
</head>
<body style="padding:50px">

    <h3>Goodbye</h3>
    <!-- If the user is not authenticated, display the sign-in button -->
    

</body>
</html>