<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f1b937fb-ca82-4eb6-a452-77af7a531344/resourceGroups/AlimenteEstaIdeia/providers/Microsoft.Web/sites/alimentaestaideia/slots/luguerre-debug</ResourceId>
    <ResourceGroup>AlimenteEstaIdeia</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://alimentaestaideia-luguerre-debug.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>alimentaestaideia-luguerre-debug.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>alimentaestaideia__luguerre-debug</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$alimentaestaideia__luguerre-debug</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BancoAlimentarEntities" Order="1" Enabled="False">
          <Destination Path="metadata=res://*/DonationEntityModel.csdl|res://*/DonationEntityModel.ssdl|res://*/DonationEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:bancoalimentar.database.windows.net,1433;Initial Catalog=alimentestaideia;Persist Security Info=False;User ID=alimentestaideiapt_dbrw;Password=iLr2o2u7rDBoyGWrCg1O;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Link.BA.Donate.Models.BancoAlimentarEntities, Link.BA.Donate.Models" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BancoAlimentarEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DonationEntityModel.csdl|res://*/DonationEntityModel.ssdl|res://*/DonationEntityModel.msl;provider=System.Data.SqlClient;provider connection string='metadata=res://*/DonationEntityModel.csdl|res://*/DonationEntityModel.ssdl|res://*/DonationEntityModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:bancoalimentar.database.windows.net,1433;Initial Catalog=alimentestaideia;Persist Security Info=False;User ID=alimentestaideiapt_dbrw;Password=iLr2o2u7rDBoyGWrCg1O;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"'</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>