/* DEFAULTS
----------------------------------------------------------*/

body   
{
    font-family: "Calibri", "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    color: #646565;
}

a:link, a:visited
{
    color: #007bbe;
    text-decoration: none;    
}

a:hover
{
    color: #005f93;
}

a:active
{
    color: #007bbe;
}

p
{
    margin: 0px 0px 0px  0px;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2
{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight:normal;
}

h1
{
    font-size: 2.1em;
    color: #FFFFFF;
}

h2
{
    font-size: 1.0em;
    color: #FFFFFF;
    font-weight:normal;
}


/* 

    this rule styles <h1> and <h2> tags that are the 
    first child of the left and right table columns 

    .rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
    {
        margin-top: 0px;
    }

*/

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 740px;
    background-color: #FFFFFF;
    margin: 0px 0px 0px 0px;
    height: 460px;
}

.mainCol
{
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 740px;
    float: left;
}

.donateNow
{
    padding: 0px 0px;
    margin: 5px 0px 5px 40px;
    width: 400px;
    height: 25px;
    font-size: 1.9em;
    float: left;
}

.likeClass
{
    padding: 0px 0px;
    margin: 20px 0px 5px 40px;
    width: 400px;
    height: 21px;
    float: left;
}

.donateNowRed
{
    padding: 0px 0px;
    margin: 50px 0px 5px 40px;
    width: 400px;
    height: 25px;
    font-size: 1.9em;
    float: left;
    color: #ba0707;
}

.baLogo
{
    background-repeat: no-repeat;
    padding: 0px 0px;
    margin: 20px 30px 10px 34px;
    height: 280px;
    border: 0px solid #000000;
    float:left;
}
/*
.blueRoundedBox
{
    position:absolute;
    width: 272px;
    height: 320px;
    padding: 0px 0px 0px 0px;
    margin: 235px 0px 0px 370px;
    border: 0px solid #FFFFFF;
    background-image: url("/Content/images/blue_rounded_box_2.png");
    color: #edead7;
    font-size: 1.1em;
    float:left;
}
*/
.blueRoundedBox {
BACKGROUND-color: #ffffff; 
POSITION: absolute; 
BORDER-LEFT: #0b96d9 5px solid; 
PADDING-BOTTOM: 0px; 
margin: 235px 0px 0px 340px; 
/*a linha seguinte (*margin) trata-se de um hack para ie7 ou anteriores. 
	aplica esta margem negativa para o posicionamento ficar igual ao das restantes versões (ff, ie8, chrome, etc..)*/
*margin:155px 0px 0px -300px;
PADDING-LEFT: 0px; 
WIDTH: 272px; 
PADDING-RIGHT: 0px; 
FLOAT: left; 
COLOR: #edead7;
 FONT-SIZE: 1.1em; 
 BORDER-TOP: #0b96d9 5px solid; 
 BORDER-RIGHT: #0b96d9 5px solid; 
 PADDING-TOP: 0px;
 border-bottom: #0b96d9 5px solid;
    	-moz-border-radius: 5px;
    border-radius: 5px;

}

.blueRoundedBox2 {
BACKGROUND-color: #ffffff; 
POSITION: absolute; 
BORDER-LEFT: #0b96d9 5px solid; 
PADDING-BOTTOM: 0px; 
margin: 235px 0px 0px 340px; 
/*a linha seguinte (*margin) trata-se de um hack para ie7 ou anteriores. 
	aplica esta margem negativa para o posicionamento ficar igual ao das restantes versões (ff, ie8, chrome, etc..)*/
*margin:0px 0px 0px -300px;
PADDING-LEFT: 0px; 
WIDTH: 272px; 
PADDING-RIGHT: 0px; 
FLOAT: left; 
COLOR: #edead7;
 FONT-SIZE: 1.1em; 
 BORDER-TOP: #0b96d9 5px solid; 
 BORDER-RIGHT: #0b96d9 5px solid; 
 PADDING-TOP: 0px;
 border-bottom: #0b96d9 5px solid;
    	-moz-border-radius: 5px;
    border-radius: 5px;

}

.donationCallout
{
    background-image: url("/Content/images/blue_callout_180.png");
    padding: 0px 0px;
    margin: 20px 0px 0px 0px;
    width: 402px;
    height: 180px;
    border: 0px solid #000000;
    float: left;
}

.donationTotal
{
    position: absolute;
    padding: 0px 0px 0px 0px;
    margin: 250px 0px 0px 370px;
    /*a linha seguinte (*margin) trata-se de um hack para ie7 ou anteriores. 
	aplica esta margem negativa para o posicionamento ficar igual ao das restantes versões (ff, ie8, chrome, etc..)*/
	*margin:170px 0px 0px -270px;
    
    height: 45px;
    width: 111px;
    border: 0px solid #FFFFFF;
    background-image: url("/Content/images/action_button_general.png");
    color: #edead7;
    font-size: 1.1em;
    float:left;
}

.donationTotalText
{
    position: absolute;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 0px 15px;
    height: 45px;
    width: 90px;
    border: 0px solid #FFFFFF;
    color: #007bbe;
    font-size: 1.1em;
    float:left;
}

.donationButton
{
    position: absolute;
    padding: 0px 0px 0px 0px;
    margin: 250px 0px 0px 455px;
    /*a linha seguinte (*margin) trata-se de um hack para ie7 ou anteriores. 
	aplica esta margem negativa para o posicionamento ficar igual ao das restantes versões (ff, ie8, chrome, etc..)*/
	*margin:170px 0px 0px -180px;
    
    height: 45px;
    width: 111px;
    border: 0px solid #FFFFFF;
    background-image: url("/Content/images/action_button_general.png");
    color: #ba0707;
    font-size: 1.1em;
    float:left;
}

.donationButtonText
{
    position: absolute;
    padding: 0px 0px 0px 0px;
    margin: 13px 0px 0px 15px;
    height: 45px;
    width: 90px;
    border: 0px solid #FFFFFF;
    color: #ba0707;
    font-size: 1.1em;
    float:left;
    font-weight:bold;
}

.donationEntity
{
    position: absolute;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 45px;
    width: 111px;
    border: 0px solid #FFFFFF;
    background-image: url("/Content/images/action_button_general.png");
    color: #ba0707;
    font-size: 1.1em;
    float:left;
}

.donationReference
{
    position: absolute;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 45px;
    width: 111px;
    border: 0px solid #FFFFFF;
    background-image: url("/Content/images/action_button_general.png");
    color: #ba0707;
    font-size: 1.1em;
    float:left;
}

.donatorWall
{

    padding: 0px 0px;
    margin: 300px 0px 0px 50px;
    width: 620px;
    border: 0px solid #000000;
    float:left;
}

.donatorPic
{
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 44px;
    height: 44px;
    border: 1px solid #FFFFFF;
    float: left;
}


.donatorPic1
{
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 44px;
    height: 44px;
    border: 1px solid #FFFFFF;
    float: left;
}

.donatorPic3
{
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 44px;
    height: 44px;
    border: 1px solid #FFFFFF;
    float: left;
    opacity:0.65; 
    -moz-opacity: 0.65; 
    filter: alpha(opacity=65);
}

.statusCallout
{
    position:absolute;
    background-image: url("/Content/images/blue_callout_center_tall_down_arrow.png");
    padding: 0px 0px;
    margin: 315px 0px 5px 20px;
    /*a linha seguinte (*margin) trata-se de um hack para ie7 ou anteriores. 
	aplica esta margem negativa para o posicionamento ficar igual ao das restantes versões (ff, ie8, chrome, etc..)*/
    *margin:0px 0px 5px -650px;
    width: 276px;
    height: 272px;
    border: 0px solid #000000;
    float: left;
}

.snLogos
{
    padding: 0px 0px;
    margin: 0px 0px 0px 65px;
    width: 260px;
    border: 0px solid #000000;
}

.rightFormObs
{
    padding: 0px 0px 0px 0px;
    margin: 5px 20px 0px 85px;
    width: 160px;
    border: 0px solid #FFFFFF;
    color: #646565;
    font-size: 0.6em;
    vertical-align:bottom;
    float:left;
}


.leftMessageText
{
    padding: 0px 0px;
    margin: 30px 0px 10px 5px;
    width: 260px;
    border: 0px solid #000000;
    float:left;
}

.leftMessageTitle
{
    padding: 0px 0px 0px 0px;
    margin: 15px 0px 0px 20px;
    width: 250px;
    height: 25px;
    border: 0px solid #FFFFFF;
    font-size: 1.5em;
}


.centerCol
{
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 330px;
    border: 0px solid #000000;
    float: left;
}



.centerTitle
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 40px;
    width: 250px;
    height: 25px;
    border: 0px solid #FFFFFF;
    font-size: 1.9em;
}

.centerText
{
    padding: 0px 0px 0px 0px;
    margin: 33px 0px 151px 40px;
    width: 250px;
    height: 25px;
    border: 0px solid #000000;
    font-size: 1.1em;
}

.centerTextTop
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 40px;
    width: 250px;
    border: 0px solid #000000;
    font-size: 1.1em;
}

.centerDonationItem
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 20px;
    width: 250px;
    height: 31px;
    border: 0px solid #FFFFFF;
    color: #edead7;
    font-size: 1.9em;
}

.centerMessageText
{
    padding: 0px 0px 0px 0px;
    margin: 10px 20px 10px 20px;
    width: 230px;
    border: 0px solid #FFFFFF;
    font-size: 0.8em;
}

.rightCol
{
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 402px;
    border: 0px solid #000000;
    float: left;
}






.rightColFormTitle
{
    padding: 0px 0px;
    margin: 10px 0px 10px 60px;
    width: 402px;
    vertical-align: middle;
    border: 0px solid #000000;
    float: left;
    font-size:1.2em;
    color: #FFFFFF;
}

.rightColFormLine
{
    padding: 0px 0px;
    margin: 1px 0px 0px 60px;
    width: 402px;
    border: 0px solid #000000;
    float: left;
    font-size:0.9em;
    color: #FFFFFF;
}

.blankLine
{
    height: 5px;
}

.rightFormDonationItemCol1
{
    padding: 0px 0px 0px 0px;
    margin: 5px 0px 0px 60px;
    height: 22px;
    border: 0px solid #FFFFFF;
    color: #edead7;
    font-size: 1.1em;
    float:left;
}

.rightFormDonationItemCol2
{
    padding: 0px 0px 0px 0px;
    margin: 5px 0px 0px 20px;
    height: 22px;
    border: 0px solid #FFFFFF;
    color: #edead7;
    font-size: 1.1em;
    float:left;
    vertical-align: middle;
}

.rightFormDonationTotal
{
    position: absolute;
    padding: 0px 0px 0px 0px;
    margin: 250px 0px 0px 355px;
    /* hack ie7 */
    *margin: 15px 0px 0px -285px;
    height: 45px;
    width: 111px;
    border: 0px solid #FFFFFF;
    background-image: url("/Content/images/action_button_general.png");
    color: #edead7;
    font-size: 1.1em;
    float:left;
}

.rightFormDonationTotalText
{
    position: absolute;
    padding: 0px 0px 0px 0px;
    margin: 15px 0px 0px 15px;
    height: 45px;
    width: 90px;
    border: 0px solid #FFFFFF;
    color: #007bbe;
    font-size: 0.8em;
    float:left;
}

.rightFormDonationEntity
{
    position: absolute;
    padding: 0px 0px 0px 0px;
    margin: 250px 0px 0px 435px;
    /* ie7 hack */
    *margin: 15px 0px 0px -225px;
    height: 45px;
    width: 111px;
    border: 0px solid #FFFFFF;
    background-image: url("/Content/images/action_button_general.png");
    color: #ba0707;
    font-size: 1.1em;
    float:left;
}

.rightFormDonationReference
{
    position: absolute;
    padding: 0px 0px 0px 0px;
    margin: 250px 0px 0px 490px;
    /* ie7 hack */
    *margin: 15px 0px 0px -150px;
    height: 45px;
    width: 111px;
    border: 0px solid #FFFFFF;
    background-image: url("/Content/images/action_button_general.png");
    color: #ba0707;
    font-size: 1.1em;
    float:left;
}

.rightFormLine
{
    padding: 0px 0px 0px 0px;
    margin: 5px 20px 0px 20px;
    border: 0px solid #FFFFFF;
    color: #007bbe;
    font-size: 0.9em;
    /*float:left;*/
}

.rightFormLineCaptcha
{
    padding: 0px 0px 0px 0px;
    margin: 5px 20px 0px 50px;
    border: 0px solid #FFFFFF;
    color: #007bbe;
    font-size: 0.9em;
    /*float:left;*/
}

.rightFormNote
{
    padding: 0px 0px 0px 0px;
    margin: 3px 20px 10px 20px;
    border: 0px solid #FFFFFF;
    color: #007bbe;
    font-size: 0.7em;
    float:left;
}

.footer
{
    border: 1px solid;
    border-top-color: #CCCCCC;
    border-bottom-color: #FFFFFF;
    border-left-color: #FFFFFF;
    border-right-color: #FFFFFF;
    width: 100%;
    padding: 0px 0px;
    margin: 45px 0px 0px 0px;
    text-align: center;
    float:left;
}

.footerText
{
    text-align:center;
    width:700px;
    padding: 0px 0px 0px 0px;
    margin: 0px auto 0px 0px;
    border: 0px solid #FFFFFF;
    font-size: 0.8em;
}

.footerClosure
{
    text-align:center;
    width:700px;
    padding: 0px 0px 0px 0px;
    margin: 0px auto 0px 0px;
    border: 0px solid #FFFFFF;
    font-size: 0.8em;
    color: #007bbe;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
    padding-top: 10px;
}

.validation-summary-valid {
    display: none;
}

.rightFormObs
{
    padding: 0px 0px 0px 0px;
    margin: 5px 20px 0px 85px;
    width: 160px;
    border: 0px solid #FFFFFF;
    color: #646565;
    font-size: 0.6em;
    vertical-align:bottom;
    float:left;
}

/* Styles for editor and display helpers 
----------------------------------------------------------
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}
*/
