html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.still {
    overflow: hidden !important;
}

* {
    outline: none;
}

.desktopOnly {
    display: block;
    margin: auto !important;
}

.mobileOnly {
    display: none !important;
}

.clear {
    clear: both;
    margin-bottom: 10px;
}

.clearSimple {
    clear: both;
}

.stage {
    position: relative;
    width: 98%;
    max-width: 1280px;
    min-height: 80vh;
    margin: auto;
}

.stage2 {
    position: relative;
    width: 98%;
    max-width: 1280px;
    margin: auto;
}

.stage, .stage2 {
    z-index: 9;
}

.modal_v2 {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0,43,81,0.54);
    z-index: 999;
}

.stage3 {
    position: relative;
    width: 98%;
    max-width: 1000px;
    margin: auto;
    min-height: 20vh;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 25px;
    overflow: hidden;
}

.stage3white {
    background: #fff;
}

.stage3blue {
    background-color: rgba(0,104,195,0.98);
    padding-top: 40px;
    padding-bottom: 40px;
}

.half0 {
    position: relative;
    width: 50%;
    float: left;
    text-align: left;
}

    .half0 .styled-checkbox-label {
        position: relative;
        width: 100%;
        display: block;
        padding-top: 10px;
    }

.half1 {
    position: relative;
    width: 50%;
    float: left;
    text-align: right;
}

.half2 {
    position: relative;
    width: 50%;
    float: left;
    text-align: left;
}

.half3 {
    position: relative;
    width: 50%;
    float: left;
    text-align: left;
    color: #fff;
    font-size: 18px;
}

    .half3 h2 {
        display: inline;
        font-size: 29px;
        margin: 0px 5px 0px 15px;
    }

.half4 {
    position: relative;
    width: 50%;
    float: left;
    text-align: left;
    color: #fff;
    font-size: 18px;
}

    .half4 h2 {
        display: inline;
        font-size: 29px;
        margin: 0px 5px 0px 15px;
    }

.stepOne {
    display: block;
    min-height: 125px;
}

.stepTwo {
    position: relative;
    display: none;
    min-height: 125px;
}

.margin1 {
    width: 45%;
    margin-right: 5%;
}

    .margin1 img {
        margin-top: 5px;
        width: 140px;
    }

.margin2 {
    width: 45%;
    margin-left: 5%;
}

.margin2 {
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 99;
}

    .close img {
        width: 45px;
        height: 45px;
    }

.close2 {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 99;
}

    .close2 img {
        width: 45px;
        height: 45px;
    }


.text7 {
    color: rgba(255,255,255,1);
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0px;
}

.text8 {
    color: rgba(255,255,255,0.98);
    font-size: 32px;
    font-weight: 800;
    margin-left: 20px;
}

.text9 {
    display: inline-block;
    background: rgba(0,104,195,0.98);
    border-radius: 75px;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 28px;
    cursor: pointer;
    border: 3px solid #fff;
}

    .text9:hover {
        color: rgba(0,104,195,0.98);
        background: #fff;
        border: 3px solid #fff;
    }


.table2 {
    position: relative;
    width: 768px;
    margin: auto;
}

.normalForm {
    color: rgba(0,104,195,0.98);
    font-size: 20px;
    font-weight: 700;
}

    .normalForm .half1 {
        width: calc(50% - 20px);
        padding-right: 20px;
    }

    .normalForm .half2 {
        width: calc(50% - 20px);
        padding-left: 20px;
    }

    .normalForm input {
        display: block;
        width: calc(100% - 40px);
        padding: 5px 10px;
        background: #fff;
        border: 3px solid #D9EBFA;
        border-radius: 13px;
        color: #111;
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px;
    }

        .normalForm input::placeholder {
            color: #D9EBFA;
        }

.text5 {
    /*height: 54px;*/
    width: 658px;
    color: rgba(0,104,195,0.98);
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    width: 100%;
    display: block;
    padding: 40px 0px 10px 0px;
}

.text6 {
    height: 54px;
    width: 658px;
    color: rgba(0,104,195,0.98);
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    width: 100%;
    display: block;
    padding: 10px 0px 10px 0px;
}

.text7 {
    width: 100%;
    text-align: center;
}

.boxed {
    position: relative;
    width: 31%;
    padding: 1%;
    float: left;
    height: 90px;
    margin: 5px 0px;
}

    .boxed .image {
        position: absolute;
        display: block;
        width: 25%;
        left: 10px;
        bottom: 6px;
    }

    .boxed .text {
        position: absolute;
        display: block;
        left: 70px;
        top: 0;
        height: 38px;
        width: 131px;
        color: rgba(0,104,195,0.98);
        font-size: 23px;
        font-weight: 700;
        line-height: 38px;
    }

    .boxed .input {
        position: absolute;
        display: block;
        background: url(../img/numberBox.png) bottom center no-repeat transparent;
        background-size: contain;
        width: 174px;
        height: 52px;
        bottom: 10px;
        right: 2px;
    }

        .boxed .input input {
            position: absolute;
            display: block;
            width: 100px;
            height: 37px;
            margin: 5px 0px 0px 10px;
            background: no-repeat;
            border: none;
            font-size: 28px;
            color: #D9EBFA;
        }

        .boxed .input .more {
            position: absolute;
            display: block;
            width: 20px;
            height: 10px;
            background: url(../img/arrowUp.png) bottom center no-repeat transparent;
            background-size: contain;
            top: 10px;
            right: 13px;
            cursor: pointer;
        }

        .boxed .input .less {
            position: absolute;
            display: block;
            width: 20px;
            height: 10px;
            background: url(../img/arrowDown.png) bottom center no-repeat transparent;
            background-size: contain;
            top: 30px;
            right: 13px;
            cursor: pointer;
        }

        .boxed .input .more:hover {
            filter: contrast(400%);
        }

        .boxed .input .less:hover {
            filter: contrast(400%);
        }

        .boxed .input .more:active {
            filter: invert(1);
        }

        .boxed .input .less:active {
            filter: invert(1);
        }

.close:hover, .close2:hover {
    filter: invert(1);
}







.footer {
    bottom: 0;
    clear: both;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    background: url(../img/rectangle.png) center top no-repeat transparent;
    background-size: 100% auto;
    background-position: bottom;
    padding-top: 180px;
    /*margin-top: -180px;*/
}

    .footer .stage2 {
        position: relative;
        top: 0;
    }

.fullWidth {
    width: 100%;
}

.column1 {
    float: left;
    width: 24%;
    min-height: 50vh;
}

.column2 {
    float: left;
    width: 52%;
    height: 34vw;
    max-height: 900px;
    background: url(../img/comida.png) center bottom no-repeat transparent;
    background-size: 100% auto;
}

.column3 {
    float: left;
    width: 24%;
    min-height: 50vh;
}

.text1 {
    display: block;
    color: rgba(0,104,195,0.98);
    font-size: 42px;
    font-weight: 700;
    padding-top: 160px;
    line-height: 40px;
}

.text2 {
    display: block;
    color: rgba(0,0,0,1);
    font-size: 22px;
    padding-top: 1.198vw;
}

.text3 {
    display: inline-block;
    background: rgba(0,104,195,0.98);
    border-radius: 75px;
    color: #fff;
    padding: 10px 20px;
    margin-top: 40px;
    font-size: 31px;
    cursor: pointer;
}

    .text3:hover {
        background: rgba(0,43,81,1);
    }

    .text3 img {
        display: block;
        float: left;
        max-width: 40%;
        max-height: 44px;
    }

    .text3 span {
        display: block;
        float: left;
        font-weight: 700;
        padding: 0vw 0.6vw;
    }

.language {
    position: absolute;
    right: 0;
    padding-top: 20px;
    cursor: pointer;
    z-index: 99;
}

.text4 {
    font-size: 1.198vw;
    font-weight: 700;
    padding-top: 140px;
}

.table {
}

.leftColumn {
    position: relative;
    width: 50%;
    float: left;
    text-align: left;
    font-size: 17px;
    padding: 2.3% 0%;
    font-weight: normal;
    border-bottom: 1px solid rgba(218,234,248,0.98);
}

    .leftColumn .imageContainer {
        display: block;
        position: relative;
        width: 20%;
        text-align: center;
        float: left;
        padding-left: 3%;
        margin-top: -0.1vw;
    }

        .leftColumn .imageContainer img {
            height: 30px;
        }

.rightColumn {
    position: relative;
    /*width:45%;*/
    float: right;
    text-align: right;
    font-size: 28px;
    color: rgba(0,104,195,0.98);
    font-weight: 700;
    border-bottom: 1px solid rgba(218,234,248,0.98);
    padding-right: 5%;
}

    .rightColumn small {
        font-size: 0.938vw;
        color: rgba(0,104,195,0.98);
        font-weight: 700;
        margin-left: 10px;
        display: inline-block;
        width: 26px;
        text-align: left;
    }

.textFoot1 {
    position: relative;
    width: 15%;
    float: left;
    text-align: left;
    font-size: 14px;
    color: rgba(139,154,167,0.98);
}

.textFoot2 {
    position: relative;
    width: 24%;
    float: left;
    text-align: left;
    font-size: 14px;
    color: rgba(0,104,195,0.98);
}

    .textFoot2 a, .textFoot3 a {
        color: rgba(0,104,195,0.98);
        text-decoration: none;
        font-weight: 700;
    }

        .textFoot2 a:hover, .textFoot3 a:hover {
            color: rgba(0,104,195,0.98);
            text-decoration: underline;
        }

.textFoot3 {
    position: relative;
    width: 61%;
    float: right;
    text-align: right;
    font-size: 14px;
    color: rgba(139,154,167,0.98);
}

    .textFoot3 img {
        float: right;
        margin-top: -1.5vw;
        margin-left: 1vw;
    }

.textFoot4 {
    width: 100%;
    display: block;
    text-align: left;
    font-size: 12px;
    color: rgba(139,154,167,0.98);
    margin-bottom: 1.5vw;
}

    .textFoot4 img {
        align-content: left;
        height: 30px;
        width: auto;
        margin-top: 2vw;
        margin-right: 0.5vw;
        margin-bottom: -0.5vw;
    }

    .textFoot4 a {
        color: rgba(0,104,195,0.98);
        text-decoration: none;
        font-weight: 700;
    }

        .textFoot4 a:hover {
            color: rgba(0,104,195,0.98);
            text-decoration: underline;
        }

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: rgba(0,104,195,0.98);
    }

        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 1px solid rgba(0,104,195,0.98);
            border-radius: 100%;
            background: #fff;
        }

        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            content: '';
            width: 12px;
            height: 12px;
            background: rgba(0,104,195,0.98);
            position: absolute;
            top: 4px;
            left: 4px;
            border-radius: 100%;
        }

        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

    .styled-checkbox + label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }

        .styled-checkbox + label:before {
            content: "";
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            width: 30px;
            height: 30px;
            background: white;
            right: 0;
            position: absolute;
            border-radius: 8px;
            border: 3px solid #D9EBFA;
            top: 0px;
        }

    .styled-checkbox:hover + label:before {
        background: transparent;
    }

    .styled-checkbox:focus + label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    .styled-checkbox:checked + label:before {
        background: transparent;
    }

    .styled-checkbox:disabled + label {
        color: #b8b8b8;
        cursor: auto;
    }

        .styled-checkbox:disabled + label:before {
            box-shadow: none;
            background: #ddd;
        }

    .styled-checkbox:checked + label:after {
        content: "";
        position: absolute;
        right: 20px;
        top: 9px;
        background: rgba(0,104,195,0.98);
        width: 17px;
        height: 17px;
    }


.styled-checkbox-2 {
    position: absolute;
    opacity: 0;
}

    .styled-checkbox-2 + label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }

        .styled-checkbox-2 + label:before {
            content: "";
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            width: 30px;
            height: 30px;
            background: white;
            left: 0;
            position: absolute;
            border-radius: 8px;
            border: 3px solid #D9EBFA;
        }

    .styled-checkbox-2:hover + label:before {
        background: transparent;
    }

    .styled-checkbox-2:focus + label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    .styled-checkbox-2:checked + label:before {
        background: transparent;
    }

    .styled-checkbox-2:disabled + label {
        color: #b8b8b8;
        cursor: auto;
    }

        .styled-checkbox-2:disabled + label:before {
            box-shadow: none;
            background: #ddd;
        }

    .styled-checkbox-2:checked + label:after {
        content: "";
        position: absolute;
        left: 10px;
        top: 9px;
        background: rgba(0,104,195,0.98);
        width: 17px;
        height: 17px;
    }

.styled-checkbox-label-2 {
    padding-left: 50px !important;
}

.line0 {
    height: 20px;
}

.line1 {
    height: 10px;
}

.line2 {
    height: 10px;
}

.line3 {
    height: 10px;
}

.line4 {
    height: 10px;
}

.line5 {
    height: 10px;
}

.line6 {
    height: 30px;
}

.line7 {
    height: 0px;
}

.line8 {
    height: 140px;
}

.banco-alimentar {
    display: block;
    width: 100%;
    color: rgba(0,104,195,0.98);
    font-size: 22px;
    font-weight: 600;
    background: #fff;
    border: 3px solid #D9EBFA;
    border-radius: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../img/downArrow.png) top right no-repeat transparent;
    padding: 5px 10px;
    cursor: pointer;
}

.positive {
    color: #111 !important;
}

.leftColumn, .rightColumn {
    height: 40px;
    padding-top: 5px;
    padding-bottom: 0px;
}

@media (max-width: 1750px) {
    .column2 {
        height: 38vw;
    }
}

@media (max-width: 1640px) {
    .stage, .stage2 {
        max-width: 1400px;
    }

    .leftColumn {
        font-size: 13px;
        padding: 9px 0px;
    }

    .rightColumn {
        font-size: 33px;
    }

    .leftColumn, .rightColumn {
        height: 50px;
        padding-top: 5px;
        padding-bottom: 0px;
    }
}

@media (max-width: 1440px) {
    .stage, .stage2 {
        max-width: 1100px;
    }

    .leftColumn, .rightColumn {
        height: 30px;
        padding-top: 5px;
        padding-bottom: 0px;
    }

    .rightColumn {
        font-size: 24px;
    }

    .leftColumn .imageContainer {
        margin-right: 10px;
    }
}

@media (max-width: 1368px) {
    .stage, .stage2 {
        max-width: 1100px;
    }

    .leftColumn {
        font-size: 13px;
        padding: 5px 0px;
    }

    .rightColumn {
        font-size: 22px;
    }

    .leftColumn .imageContainer {
        margin-right: 5px;
    }

    .column2 {
    }

    .language img {
        width: 100px;
    }

    .text1 {
        padding-top: 80px;
    }

    .text3 {
        font-size: 27px;
    }

        .text3 img {
            max-height: 38px;
        }

    .stage3 {
        max-width: 800px;
    }

    .table2 {
        width: 700px;
    }

    .boxed {
        height: 70px;
    }

        .boxed .image {
        }

            .boxed .image img {
                width: 60%;
            }

        .boxed .text {
            top: -5px;
            font-size: 18px;
        }

        .boxed .input {
            width: 154px;
        }

            .boxed .input input {
                height: 47px;
                font-size: 28px;
            }

            .boxed .input .more {
                width: 16px;
                top: 15px;
            }

            .boxed .input .less {
                width: 16px;
            }

    .text5 {
        font-size: 30px;
    }

    .normalForm {
        font-size: 17px;
    }

    .leftColumn, .rightColumn {
        height: 35px;
        padding-top: 5px;
        padding-bottom: 0px;
    }

    .footer {
        /*padding-top:120px;
	    margin-top: -120px;*/
    }

    .textFoot1, .textFoot2, .textFoot3 {
        font-size: 12px;
    }

        .textFoot3 img {
            float: right;
            margin-top: -10px;
            margin-left: 20px;
            width: 80px;
        }

    .text4 {
        padding-top: 80px;
    }

    .text5 {
        padding: 20px 0px 0px 0px;
    }

    .text9 {
        font-size: 21px;
        padding: 5px 20px;
    }
}

@media (max-width: 1280px) {
    .stage, .stage2 {
        max-width: 1100px;
    }

    .leftColumn {
        font-size: 9px;
        padding: 3px 0px 2px 0px;
    }

    .rightColumn {
        font-size: 23px;
    }

    .leftColumn .imageContainer {
        margin-right: 5px;
    }

    .text1 {
        padding-top: 130px;
        font-size: 30px:
    }

    .text2 {
        font-size: 20px;
        line-height: 3.2vw;
    }

    .text3 {
        margin-top: 20px;
    }

    .text4 {
        padding-top: 90px;
    }
}

@media (max-width: 1024px) {
    .column2 {
        height: 46vw;
    }
}

@media (max-width: 768px) {
    .mobileMargin {
        overflow-x: hidden;
    }

    img {
        max-width: 100%;
    }

    .desktopOnly {
        display: none !important;
        margin: auto;
    }

    .mobileOnly {
        display: block !important;
    }

    .column1, .column2, .column3 {
        width: 100%;
        height: auto;
        text-align: center;
        min-height: unset;
    }

    .column2 {
        display: none;
    }

    .language {
        position: relative;
        right: unset;
        padding-top: unset;
        cursor: pointer;
        z-index: 99;
        margin: 10px auto;
        text-align: center;
    }

        .language img {
            width: 60px;
        }

    .text1 {
        font-size: 22px;
        text-align: center;
        padding-top: 0px;
        line-height: 22px;
    }

    .text2, .text4 {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        line-height: 16px;
    }

    .text3 {
        display: inline-block !important;
        background: rgba(0,104,195,0.98);
        border-radius: 75px;
        color: #fff;
        padding: 10px 40px;
        font-size: 32px;
        cursor: pointer;
        text-align: center;
        float: none;
        clear: both;
        margin: auto;
        position: relative;
        margin-top: 40px;
    }

        .text3 img {
            margin-top: 3px !important;
            margin-right: 5px !important;
        }

    .text4 {
        padding-top: 0px;
    }

    .leftColumn {
        position: relative;
        width: 50%;
        float: left;
        text-align: left;
        font-size: 24px;
        padding: 2.3% 0%;
        font-weight: normal;
        border-bottom: 1px solid rgba(218,234,248,0.98);
    }

        .leftColumn .imageContainer {
            display: block;
            position: relative;
            width: 20%;
            text-align: center;
            float: left;
            padding-left: 3%;
            margin-top: -0.1vw;
        }

            .leftColumn .imageContainer img {
                height: 30px;
            }

    .rightColumn {
        position: relative;
        width: 45%;
        float: right;
        text-align: right;
        font-size: 29px;
        color: rgba(0,104,195,0.98);
        font-weight: 700;
        border-bottom: 1px solid rgba(218,234,248,0.98);
        padding-right: 5%;
        padding-top: 3.95%;
        height: 45px;
    }

        .rightColumn small {
            font-size: 0.938vw;
            color: rgba(0,104,195,0.98);
            font-weight: 700;
            margin-left: 10px;
            display: inline-block;
            width: 26px;
            text-align: left;
        }

    .leftColumn, .rightColumn {
        height: 45px;
    }

    .table2 {
        max-width: 100%;
        text-align: center;
    }

    .boxed {
        width: 98%;
    }


    .margin1, .margin2 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .half0, .half1, .half2, .half3, .half4 {
        width: 100% !important;
        float: unset !important;
        text-align: center !important;
        padding: unset !important;
        padding-left: unset !important;
    }

    .normalForm input {
        width: calc(100% - 27px);
    }

    .line9 {
        clear: both;
        margin: 30px auto;
    }

    .text7 .text3 {
        display: inline-block;
        background: rgba(0,104,195,0.98);
        border-radius: 75px;
        color: #fff;
        padding: 10px 40px;
        margin-top: 2.135vw;
        font-size: 33px;
        cursor: pointer;
        text-align: center;
        float: none;
        clear: both;
        margin: auto;
        position: relative;
        margin-left: 0;
        margin: 40px 10px 0px 10px;
    }

    .textFoot1, .textFoot2, .textFoot3 {
        width: 100% !important;
        text-align: center;
        font-size: 12px;
    }

        .textFoot1 p, .textFoot2 p, .textFoot3 p {
            line-height: unset;
        }

        .textFoot3 .mobileOnly {
            text-align: center;
        }

        .textFoot3 img {
            float: none;
            margin-top: 20px;
            margin-left: unset;
        }

    .footer {
        position: relative;
        clear: both;
        background: none;
        background-color: #dbeaf8;
        background-size: cover;
        width: 100%;
        min-height: unset;
        margin: auto;
        text-align: center;
        padding-top: 20px;
        margin-top: 20px !important;
    }

    .text5 {
        margin-bottom: 0px;
        padding: 20px 0px 0px 0px;
        font-size: 16px;
        height: 34px;
    }

    .boxed .text {
        left: 90px;
        text-align: left;
        top: -15px !important;
    }

    .banco-alimentar {
        margin-top: 20px;
    }

    .text9 {
        padding: 10px 30px;
        font-size: 21px;
    }

    .text7 .text3 {
        font-size: 21px !important;
    }

        .text7 .text3 img {
            max-height: 32px !important;
        }

    .normalForm, .normalForm input {
        font-size: 16px;
        font-weight: normal;
    }

    .text6 {
        font-size: 25px;
        padding: 10px 0px 10px 0px;
    }

    .leftColumn, .rightColumn {
        height: 50px;
        padding-top: 5px;
        padding-bottom: 0px;
    }

    .rightColumn {
        padding-right: 0%;
    }

    .boxed .image img {
        width: 40%;
    }

    .boxed .text {
        right: 10px;
        text-align: right;
        float: right;
        position: absolute;
        left: unset;
        top: 0px;
    }

    .banco-alimentar {
        width: 90%;
        margin-left: 5%;
    }

    .normalForm input {
        width: calc(60% - 27px);
        margin-left: 20%;
    }

    .normalForm .half2 {
        margin-top: 10px;
    }

    .text7 .text3 img {
        margin-top: -2px !important;
    }

    .mobileOnly.imageComida {
        transform: rotate(90deg);
        width: 120%;
        right: -20%;
        position: relative;
    }

    .text4 {
        margin-top: -30px;
    }

    .text5 {
        padding-left: 10%;
        padding-right: 10%;
        width: 80%;
        line-height: 40px;
    }

    .styled-checkbox-label, .styled-checkbox-label-2 {
        padding-left: 17% !important;
        width: 83%;
        display: block;
        text-align: left;
    }

    .styled-checkbox {
        position: absolute;
        opacity: 0;
    }

        .styled-checkbox + label {
            position: relative;
            cursor: pointer;
            padding: 0;
        }

            .styled-checkbox + label:before {
                content: "";
                margin-right: 10px;
                display: inline-block;
                vertical-align: text-top;
                width: 30px;
                height: 30px;
                background: white;
                left: 0;
                position: absolute;
                border-radius: 8px;
                border: 3px solid #D9EBFA;
            }

        .styled-checkbox:hover + label:before {
            background: transparent;
        }

        .styled-checkbox:focus + label:before {
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
        }

        .styled-checkbox:checked + label:before {
            background: transparent;
        }

        .styled-checkbox:disabled + label {
            color: #b8b8b8;
            cursor: auto;
        }

            .styled-checkbox:disabled + label:before {
                box-shadow: none;
                background: #ddd;
            }

        .styled-checkbox:checked + label:after {
            content: "";
            position: absolute;
            left: 10px;
            top: 9px;
            background: rgba(0,104,195,0.98);
            width: 17px;
            height: 17px;
        }

    .styled-checkbox-label {
        padding-left: 50px !important;
    }

    .mobileMargin22 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .mobileMargin22 {
        padding-left: 5% !important;
        width: 90% !important;
    }

    .half1.margin1 img {
        width: 55% !important;
    }

    .text8 {
        font-size: 48px;
    }

    .mobileMargin23 {
        padding-left: 10px !important;
    }






    .boxed {
        position: relative;
        width: 96%;
        padding: 1%;
        float: left;
        height: 32px;
        margin: 5px 0px;
    }

        .boxed .image {
            position: relative;
            display: inline-block;
            width: 50px;
            left: unset;
            bottom: unset;
            height: 50px;
        }

            .boxed .image img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        .boxed .text {
            position: relative;
            display: inline-block;
            left: unset;
            top: unset;
            height: unset;
            width: unset;
            color: rgba(0,104,195,0.98);
            font-size: 18px;
            font-weight: 500;
            line-height: 38px;
            float: unset;
            right: unset;
            width: 60px;
            text-align: center;
        }

        .boxed .input {
            position: relative;
            display: inline-block;
            background: none;
            background-size: contain;
            width: unset;
            height: unset;
            bottom: unset;
            right: unset;
            height: 40px;
            width: 40%;
            border-radius: 20px;
            margin-left: 20px;
        }

            .boxed .input .more {
                position: absolute;
                display: block;
                width: 30px;
                height: 30px;
                background: url(../img/mais.png) bottom center no-repeat transparent;
                background-size: contain;
                top: 5px;
                right: 40px;
                cursor: pointer;
            }

            .boxed .input .less {
                position: absolute;
                display: block;
                width: 30px;
                height: 30px;
                background: url(../img/menos.png) bottom center no-repeat transparent;
                background-size: contain;
                top: 5px;
                right: 5px;
                cursor: pointer;
            }

            .boxed .input input {
                width: 40px;
                height: 27px;
                font-size: 21px;
                padding-left: 0px;
            }

    .text8 {
        font-size: 22px;
    }

    .half3 h2 {
        display: inline;
        font-size: 19px;
        margin: 0px 5px 0px 15px;
    }

    .half4 h2 {
        display: inline;
        font-size: 19px;
        margin: 0px 5px 0px 15px;
    }

    .half3 img, .half4 img {
        width: 10px;
    }

    .update1, .update2, .update3, .update4, .update5, .update6 {
        width: 30px !important;
        display: inline-block !important;
    }

    .fixMe {
        display: inline-block;
        width: 10px;
        text-align: left;
    }

    .stage3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .close {
        top: 10px;
        right: 10px;
    }

        .close img {
            width: 25px;
            height: 25px;
        }

    .stage3blue {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .fixMobile101 {
        width: 50% !important;
        float: left !important;
    }

        .fixMobile101 .text8 {
            margin-left: 0px !important;
        }

    .stepOne {
        min-height: 85px;
    }

    .fixMobile101 .text9 {
        padding: 5px 20px;
        font-size: 18px;
    }

    .textFoot4 {
        width: 100%;
        display: block;
        text-align: left;
        font-size: 12px;
        color: rgba(139,154,167,0.98);
        margin-bottom: 1.5vw;
    }

        .textFoot4 img {
            align-content: left;
            height: 30px;
            width: auto;
            margin-top: 2vw;
            margin-right: 0.5vw;
            margin-bottom: -0.5vw;
        }

        .textFoot4 a {
            color: rgba(0,104,195,0.98);
            text-decoration: none;
            font-weight: 700;
        }

            .textFoot4 a:hover {
                color: rgba(0,104,195,0.98);
                text-decoration: underline;
            }

    .footer .stage2 {
        text-align: center;
        max-width: 700px !important;
        padding: 0vw 2vw 2vw 2vw !important;
    }

    .textFoot4 p {
        text-align: center;
        font-size: 12px;
        padding: 0px 20px;
    }

    .textFoot4 img {
        align-content: left;
        height: 30px;
        width: auto;
        margin-top: 2vw;
        margin-bottom: -0.5vw;
        margin-right: 0vw;
        margin-left: 0vw;
    }
}

.recibo {
    display: none;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
    padding-top: 30px;
    font-size: 15px;
}

#submit {
    display: none;
}

/* payment module */
.stage4 {
    position: relative;
    width: 98%;
    max-width: 1000px;
    margin: auto;
    min-height: 20vh;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 25px;
    overflow: hidden;
}

.stage4white {
    background: #fff;
}

.stage4blue {
    background-color: rgba(0, 104, 195, 0.98);
    padding-top: 40px;
    padding-bottom: 40px;
}

#submitPayment {
    visibility: hidden;
    position: absolute;
}

.textFoot2 p {
    margin-top: 7px;
    margin-bottom: 7px;
}
