@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

@section Css {
    @RenderSection("Css", required: false)
}

<div>
    <div class="row">
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>


<a id="profile" asp-area="Identity" asp-page="/Account/Manage/Index">@IdentitySharedLocalizer["Back"]</a>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
