@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Areas.Identity.Pages.Account.Manage.CancelSubscriptionModel
@{
}
<h2>@Localizer["Title"]</h2>
<h4>@Localizer["Details"]</h4>

<div>
    <div class="mb-3">
        <label asp-for="Subscription.Created" class="form-label"></label>
    </div>
</div>