@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Areas.Identity.Pages.Account.Manage.GenerateInvoiceModel
@{
}

<div class="text-center">
    <h1 class="display-4">Erro</h1>
    <p>O recibo apenas pode ser gerado até ao dia 15 de Janeiro do ano seguinte à doação. Se precisar ajuda, por favor contacte  <a href="mailto:ba.federacao@bancoalimentar.pt">ba.federacao@bancoalimentar.pt</a></p>
</div>
