html body {	margin: 0px; padding: 0px; background-image:url("/Content/images/fundo_centro.png"); background-repeat:repeat-x; }
.header{ margin: 0px;  height:22px; background-color:#0285c3 }
.titulo_header {  height:49px; text-align:center; background:url("/Content/images/fundo_header.png") }

#content_left { width:227px; height:300px; margin-top:84px }

.content_left_titulo{float:left; background:url("/Content/images/sobras_doar.png"); background-repeat:no-repeat; background-position:bottom; height:40px; width:227px; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#0282c0; font-weight:bold;   }



.donatorWall{padding: 0px;  margin: 0px;  width: 1024px;  border: 0px solid #000000;   float:left; text-align:center}
.donatorPic1 {padding: 0px; margin: 0px;  width: 46px;   height: 46px;    border: 1px solid #FFFFFF;   float: left;}

.doar_titulo{background-position:bottom; height:40px; width:227px; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#0282c0; font-weight:bold; text-align:left   }

.content_alimentos {float:left; width:227px; height:180px; background:url("/Content/images/fundo_listaAlimentos.png") }
.obrigado {float:left; margin:30px 0 0 0; width:201px; height:50px; background:url("/Content/images/muito-obrigado.png") }

.txt_rodape {font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#888989; margin:13px; text-align:center  }

.Donation{ float:left;  padding: 3px 0px 0px 0px; height: 23px; font-family:Arial, Helvetica, sans-serif; font-size:19px; font-weight:bold; color: #0e98de;  }
.medida{ float:left;  padding: 7px 0px 0px 5px; height: 23px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color: #8d8d8d; }
.DonationItem_Leite {float:left; background:url("/Content/images/icon_leite.png"); background-repeat:no-repeat; padding: 7px 0px 0px 40px; width: 70px; height: 20px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color: #8d8d8d; }
.DonationItem_Açucar {float:left; background:url("/Content/images/icon_acucar.png"); background-repeat:no-repeat; padding: 7px 0px 0px 40px; width: 70px; height: 20px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color: #8d8d8d; }
.DonationItem_Azeite {float:left; background:url("/Content/images/icon_azeite.png"); background-repeat:no-repeat; padding: 7px 0px 0px 40px; width: 70px; height: 20px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color: #8d8d8d; }
.DonationItem_Atum {float:left; background:url("/Content/images/icon_atum.png"); background-repeat:no-repeat; padding: 6px 0px 0px 40px; width: 70px; height: 20px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color: #8d8d8d; }
.DonationItem_Salsichas {float:left; background:url("/Content/images/icon_salsicha.png"); background-repeat:no-repeat; padding: 6px 0px 0px 40px; width: 70px; height: 20px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color: #8d8d8d; }
.DonationItem_Óleo {float:left; background:url("/Content/images/icon_oleo.png"); background-repeat:no-repeat; padding: 6px 0px 0px 40px; width: 70px; height: 20px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color: #8d8d8d; }

.sombra_donation {float:left;  margin-top:px; background:url("/Content/images/sombra_comunidade.png"); background-repeat:no-repeat; width:241px; height:23px}

.content_saco {float:left; background:url("/Content/images/saco.png"); width:362}

/*  estilos janelas */
.janelas_titulo{ font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#0282c0; font-weight:bold; margin:0  }
.janelas_subtitulo{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#657d9a;  }


.total{ float:left; font-family:Arial, Helvetica, sans-serif; font-size:21px; color:#ffffff; margin-bottom:5px; margin-top:3px  }
.valor {float:left;  font-family:Arial, Helvetica, sans-serif; font-size:21px; font-weight:bold; color:#82deff; margin:3px 5px 5px 8px; }
.dadospagamento{ width:392px; margin-top:5px; text-align:right}
.totalpagamento{ float:left; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#ffffff; margin:3px 1px 5px 10px;  }
.valorpagamento {float:left;  font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:bold; color:#82deff; margin:4px 15px 5px 8px;}
.txt {font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#888989; margin:13px; width:366px; }

/*  estilos form */
.rightFormLine{padding: 0;  margin: 5px 20px 0px 14px;  font-family:Arial, Helvetica, sans-serif; color: #8d8d8d; font-size:12px; vertical-align:bottom; }
.rightFormLineCaptcha{ padding: 0;  margin: 5px 20px 0px 14px;   font-family:Arial, Helvetica, sans-serif; color: #8d8d8d; font-size:12px; }

/*  estilos setas*/
.rightFormDonationItemCol1{ padding-top:6px;  width:28px;  height: 35px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color: #848484; text-align:center;  font-size: 11px; }
.Item_escolha_leite {float:left; background:url("/Content/images/icon_leite.png"); background-repeat:no-repeat; padding: 6px 0px 0px 40px;  height: 27px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color: #8d8d8d; }
.Item_escolha_acucar {float:left; background:url("/Content/images/icon_acucar.png"); background-repeat:no-repeat; padding: 6px 0px 0px 40px;  height: 27px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color: #8d8d8d; }
.Item_escolha_azeite {float:left; background:url("/Content/images/icon_azeite.png"); background-repeat:no-repeat; padding: 6px 0px 0px 40px;  height: 27px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color: #8d8d8d; }
.Item_escolha_atum {float:left; background:url("/Content/images/icon_atum.png"); background-repeat:no-repeat; padding: 6px 0px 0px 40px;  height: 27px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color: #8d8d8d; }
.Item_escolha_salsicha {float:left; background:url("/Content/images/icon_salsicha.png"); background-repeat:no-repeat; padding: 6px 0px 0px 40px;  height: 27px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color: #8d8d8d; }
.Item_escolha_oleo {float:left; background:url("/Content/images/icon_oleo.png"); background-repeat:no-repeat; padding: 6px 0px 0px 40px;  height: 27px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color: #8d8d8d; }

/* OLD */

.donateShadow {
    height: 16px;
    background-image: url("/Content/images/sobras_doar.png")
}

.headerText {
    color: #0282c0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px
}

.moreInfo {
    color: #027ebd;
    font-family: sans-serif;
    font-size: 12px
}

.thankYouImage {
    padding-bottom: 50px;
    position: static
}

.community {
    background-image: url("/Content/images/sombra_comunidade.png");
    background-repeat: no-repeat
}

.dashes {
    height: 18px;
    background-image: url("/Content/images/tracos.png");
    background-repeat: repeat-x;
    background-position: center
}

.scissors {
    float: right
}

.support {
    color: #7c7d7d;
    font-family: sans-serif;
    font-size: 12px;
    position: static
}

.footerCol 
{
    color: #999898;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    position: absolute;
    background-color: #f6f6f6
}

/* /OLD */

/*a:link, a:visited
{
    color: inherit;
}

a:hover
{
    color: inherit;
}

a:active
{
    color: inherit;
}

input[type="text"] {
    width: 120px
}

#form {
    z-index: 1000;
    position: absolute;
    top: 0px
}

#formReference {
    z-index: 999;
    position: absolute;
    top: 0px
}

.background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #03386d;
    opacity: 55%;
    z-index: 998;
}*/