<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Alimente esta ideia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Alimente Esta Ideia" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />    
</head>
<body>    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>  
</body>
</html>
