<div class="stage2">
	<div class="textFoot1"><p><strong>{{Model.HeaderLocalizer.GetString("AlimenteEstaIdeia")}} @HeaderLocalizer["AlimenteEstaIdeia"]</strong></p><p>© 2021</p></div>
	<div class="textFoot2">
		<p><a href="mailto:ba.federacao@bancoalimentar.pt" title="@HeaderLocalizer["ContacteNos"]">@HeaderLocalizer["ContacteNos"]</a></p>
		<p><a target="_blank" href="https://www.bancoalimentar.pt/politica-de-privacidade-e-protecao-de-dados/" title="@HeaderLocalizer["PoliticaDePrivacidade"]">@HeaderLocalizer["PoliticaDePrivacidade"]</a></p>
		<p><a target="_blank" href="/termos.pdf" title="@HeaderLocalizer["TermosCondicoes"]">@HeaderLocalizer["TermosCondicoes"]</a></p>
		<p><a href="https://www.bancoalimentar.pt">Banco Alimentar</a></p><p><a href="https://www.facebook.com/bancoalimentar">Facebook</a></p>
		<p><a href="https://report.alimentestaideia.pt/">Relatório de doações</a></p>
		<p><a href="https://github.com/banco-alimentar/alimentestaideia.pt">Github alimentestaideia.pt</a></p>
	</div>
	<div class="textFoot3">
		<p style="float:right" class="desktopOnly"><img src="@Url.Content("~/img/saco-banco-alimentar.png")" alt="saco banco alimentar" /></p>
		<p><strong>Federação Portuguesa dos Bancos Alimentares Contra a Fome (IPSS 07/2000).</strong></p>
		<p>Estação de Alcântara Terra, Arz 1, Av. de Ceuta, 1300-125, Lisboa</p>
		<p>Desenvolvido por <a href="https://www.microsoft.com">Microsoft Corp</a></p>
		<p class="mobileOnly"><img src="@Url.Content("~/img/saco-banco-alimentar.png")" alt="saco banco alimentar" /></p>

	</div>
	<div class="clearSimple"></div>
</div>
<div class="clearSimple"></div>
<div style="font-size:smaller">
	{{Model.AppVersionService.Version}}
</div>