$color-brownish-grey-50: rgba(95, 95, 95, 0.5);
$color-greyish-brown: #454545;
$color-light-blue-grey: #dde9f6;
$color-white: #ffffff;
$color-mid-blue: #1d6bc3;
$color-input-border: rgba(69, 69, 69, 0.3);
$color-grey: #bbbbbb;
$color-red: #e02828;