<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- IIS default maxQueryString is 2048; Microsoft OAuth ?code= on /signin-microsoft is longer -->
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768" maxUrl="32768" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
