@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = IdentitySharedLocalizer["ForgotPasswordConfirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @IdentitySharedLocalizer["ForgotPasswordConfirmationMessage"]
</p>

