@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = @IdentitySharedLocalizer["ResetPasswordConfirmation"]; 
}

<h1>@ViewData["Title"]</h1>
<p>

    @IdentitySharedLocalizer["ResetPasswordConfirmationMessage"] <a asp-page="./Login">@IdentitySharedLocalizer["ResetPasswordConfirmationClickHere"]</a>.
</p>
