{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "APPINSIGHTS_INSTRUMENTATIONKEY": "",
    "FunctionExecutionReports__Enabled": "true",
    "FunctionExecutionReports__ConnectionString": "",
    "FunctionExecutionReports__ContainerName": "function-execution-reports",
    "FunctionExecutionReports__RetentionDays": "90",
    "FunctionExecutionReports__MaxActivities": "500",
    "FunctionExecutionReports__MaxActivityMessageLength": "1000",
    "FunctionExecutionReports__MaxWarnings": "100",
    "FunctionExecutionReports__MaxErrors": "100",
    "FunctionExecutionReports__MaxCounters": "100",
    "FunctionExecutionReports__LifecyclePrefix": "v1/",
    "FunctionExecutionCommands__Enabled": "true",
    "FunctionExecutionCommands__ConnectionString": "UseDevelopmentStorage=true",
    "FunctionExecutionCommands__QueueName": "function-execution-commands",
    "FunctionExecutionCommands__MaxMessageLength": "16384",
    "AzureStorage__ConnectionString": "",
    "VaultUri": "https://alimentaestaideia-key.vault.azure.net/",
    "SasVaultUri": "https://doar-sas-core.vault.azure.net/"
  }
}
