@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Pages.Tenants.BancoAlimentar.Pages.ThanksModel
@{
}
<h1>@Localizer["Thanks"]</h1>
<div>@Localizer["ThanksMessage"] </div>
<div>
    <p>&nbsp</p>
    <p>Maria Isabel Jonet
    <p>
        Banco Alimentar Contra a Fome de Lisboa
        <br>www.bancoalimentar.pt
</div>

@section Scripts {
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
}