@page
@model BancoAlimentar.AlimentaEstaIdeia.Sas.Web.TenantManagement.Pages.StatusModel

<table>
    <thead></thead>
    @foreach (var key in Model.Services)
    {
    <tr>
        <td>@key.Key</td>
        <td>@key.Value</td>
    </tr>
    }

</table>