@page
@model ErrorModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Ops!</h1>
<h2 class="text-danger">Lamentamos mas ocorreu um erro</h2>
<h3>@Model.ErrorMsg</h3>


@if (Model.ShowRequestId)
{
    <p>
        <code>@Model.RequestId</code>
    </p>
}




