@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Areas.Admin.Pages.IndexModel
@{
}

<h1>Administration web site</h1>

<div>
    Things to manage
</div>

<a asp-page="./Donations/Index">Donations</a>
<br />
<a asp-page="./FoodBanks/Index">FoodBanks</a>
<br />
<a asp-page="./Invoices/Index">Invoices</a>
<br />
<a asp-page="./ProductsCatalogues/Index">Products Catalogues</a>
<br />
<a asp-page="./Campaigns/Index">Campaigns</a>