@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Areas.Admin.Pages.SuperAdminModel
@{
}

<h1>@Localizer["Title"]</h1>

<p>@Localizer["Intro"]</p>

<ul class="list-unstyled">
    <partial name="Shared/_AdminNavItem" view-data='new ViewDataDictionary(ViewData) { { "Icon", "fa-warehouse" }, { "Page", "./FoodBanks/Index" }, { "Text", Localizer["FoodBanksLink"].Value }, { "Description", Localizer["FoodBanksDescription"].Value } }' />
    <partial name="Shared/_AdminNavItem" view-data='new ViewDataDictionary(ViewData) { { "Icon", "fa-broom" }, { "Page", "./ClearTenantStaticCache" }, { "Text", Localizer["ClearCacheLink"].Value }, { "Description", Localizer["ClearCacheDescription"].Value } }' />
    <partial name="Shared/_AdminNavItem" view-data='new ViewDataDictionary(ViewData) { { "Icon", "fa-cog" }, { "Page", "./ReloadSettings" }, { "Text", Localizer["ReloadSettingsLink"].Value }, { "Description", Localizer["ReloadSettingsDescription"].Value } }' />
    <partial name="Shared/_AdminNavItem" view-data='new ViewDataDictionary(ViewData) { { "Icon", "fa-users-cog" }, { "Area", "RoleManagement" }, { "Page", "/UserRoles" }, { "Text", Localizer["RoleManagementLink"].Value }, { "Description", Localizer["RoleManagementDescription"].Value } }' />
    <partial name="Shared/_AdminNavItem" view-data='new ViewDataDictionary(ViewData) { { "Icon", "fa-user-tag" }, { "Area", "RoleManagement" }, { "Page", "/Roles" }, { "Text", Localizer["RolesLink"].Value }, { "Description", Localizer["RolesDescription"].Value } }' />
</ul>

<p class="mt-3">
    <a asp-page="./Index"><i class="fas fa-arrow-left mr-2" aria-hidden="true"></i>@AdminSharedLocalizer["BackToAdminHome"]</a>
</p>
