@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Areas.Admin.Pages.FoodBanks.CreateModel

@{
    ViewData["Title"] = AdminSharedLocalizer["Create"].Value;
}

<h1>@AdminSharedLocalizer["Create"]</h1>

<h4>@AdminSharedLocalizer["FoodBank"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FoodBank.Name" class="control-label"></label>
                <input asp-for="FoodBank.Name" class="form-control" />
                <span asp-validation-for="FoodBank.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@AdminSharedLocalizer["Create"].Value" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">@AdminSharedLocalizer["BackToList"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
