@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Areas.RoleManagement.Pages.RolesModel

<h1>Role Manager</h1>
<form method="post" asp-page="Roles" asp-page-handler="CreateNewRole">
    <div class="input-group">
        <input name="roleName" class="form-control w-25">
        <span class="input-group-btn">
            <button class="btn btn-info">Add New Role</button>
        </span>
    </div>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model.Roles)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-page="UserRoles" asp-route-roleId="@role.Id">View users</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p class="mt-3">
    <a asp-page="UserRoles">View all users</a>
</p>